body{
    background: #f1faee;
  
}
*{
    margin: 0px;
    padding: 0px;
}
nav{
    top: 0px;
    position:sticky;
}

.navbar{
/* border: 2px solid rgb(47, 212, 135); */
font-size: 1.19rem;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: flex;
justify-content: center;
/* background-color: rgb(207, 250, 253); */
/* background-color: #A8DADC !important; */
/* background-color: #ffb703; */
background-color: #3d405b;
min-width: 100%;
box-shadow: 3px 3px 13px  #355070;
transition: .6s;

/* width: 100vw; */
/* position: absolute; */
/* background-color: rgb(190, 190, 190); */
}
.navbar a{
    text-decoration: none;
    margin: 1.1rem;
    padding: 12px;
    /* color: rgb(0, 0, 0); */
    color: white;
    border-radius: 10px;
    
    /* font-weight: lighter; */
    /* border: 2px solid yellow; */
}
.navbar a:hover{
 animation: navbar;
 animation-duration: .6s;
 animation-fill-mode: forwards;
 animation-iteration-count: 1;
 cursor: pointer;
}
@keyframes navbar{
 0%{
    /* background-color: rgb(0, 0, 0); */
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    
 } 
 100%{
     background-color: rgb(175, 68, 68);
     color: rgb(255, 255, 255);
     /* box-shadow: 2px 2px 10px rgb(255, 87, 87); */
     /* font-size: 2rem; */
     text-shadow: 2px 2px 8px  rgb(22, 21, 20);
 }
}

@media screen and (max-width:898px) {
   
    .c{
        line-height: 1rem;
        font-size: .6rem;
         padding: 1rem 1.5rem 1rem 1.5rem;
        width: 12rem;

    }
}
/* mobile */
@media screen and (max-width:750px) {
    .navbar{
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* flex-wrap: wrap;
        flex-direction: column; */
       margin: auto;
        width:99%;
        height:fit-content;
       
        padding-top: .6rem;
        padding-bottom: .6rem;
        /* position: fixed; */
        /* position: fixed; */
    }
    .navbar a{
        margin: .2rem 1.4rem;
        font-size: 1rem;
        font-weight: 350;
        text-align: center;
    }
    i{
        margin: 8px 3px;
    }
}